body{

margin:0;
font-family:Arial;
background: linear-gradient(135deg,#4facfe,#00f2fe);

}

header{

text-align:center;
color:white;
padding:40px;

}

.subjects{

display:grid;
grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
gap:25px;
padding:40px;

}

.subject{

background:white;
padding:25px;
border-radius:12px;
text-align:center;
box-shadow:0 10px 20px rgba(0,0,0,0.2);

}

.subject h2{

margin-bottom:15px;

}

.subject a{

display:block;
margin:8px 0;
background:#4facfe;
color:white;
padding:10px;
border-radius:6px;
text-decoration:none;

}

.subject a:hover{

background:#2d8cf0;

}
